{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/main">القطار الابيض</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            العملاء
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/client">جميع العملاء</a></li>
            <li><a class="dropdown-item" href="/add/client">اضافة عميل</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            السائقين
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/driver">جميع السائقين</a></li>
            <li><a class="dropdown-item" href="/add/driver">اضافة سائق</a></li>
            <li><a class="dropdown-item" href="/add/account">حساب سائق</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            المصاريف
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/masrf">جميع المصاريف</a></li>
            <li><a class="dropdown-item" href="/add/masrf">اضافة مصروف</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            الطلبيات
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/order">جميع الطلبيات</a></li>
            <li><a class="dropdown-item" href="/add/order">اضافة طلبية</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<form method="post" class="form">
<div class="form-group">
            <label name="query" >بحث</label>
              {{ form.search(class_ = 'form-control', autofocus = true) }}

    </div>
  <input type="submit" value="بحث" class="btn btn-outline-primary">

</form>

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>التسلسل</th>
        <th>اسم الزبون</th>
        <th>رقم الهاتف</th>
        <th>العنوان</th>
        <th>اسم المحل </th>
        <th> كشف حساب</th>
        <th> تم الدفع</th>
      </tr>
    </thead>
    <tbody>
      {% for record in query %}
        <tr>
            <td></td>
          <td>{{ record.name }}</td>
          <td>{{ record.phone }}</td>
          <td>{{ record.address }}</td>
            <td>{{ record.shop }}  </td>

        <td>  <form method="post" action="/kashf">
          <input type="hidden" name="py" value="{{record.id}}">
                        <button class="btn btn-outline-primary" type="submit" > كشف حساب</button>
        </form> </td>
        <td>      
          <form method="post" action="/payment">
            <input type="hidden" name="py" value="{{record.id}}">
                          <button class="btn btn-outline-primary" type="submit" > تم الدفع</button>
          </form>
        </td>
        <td> <form method="post" action="/delete-client">
          <input type="hidden" name="client" value="{{record.id}}">
          <button type="submit" class="btn btn-primary">حذف</button>
      </form>
      </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
<a href="/main" class="btn btn-primary">رجوع</a>
    <button class="btn btn-primary" onclick="display()">طباعة</button>
      <script>
         function display() {
            window.print();
         }
                  var table = document.getElementsByTagName('table')[0],
  rows = table.getElementsByTagName('tr'),
  text = 'textContent' in document ? 'textContent' : 'innerText';

for (var i = 1, len = rows.length; i < len; i++) {
  rows[i].children[0][text] = i ;
}
      </script>
{% endblock %}