{% extends "base.html" %}

{% block content %}
<form method="post" class="form">
<div class="form-group">
            <label name="query" >بحث</label>
              {{ form.search(class_ = 'form-control', autofocus = true) }}

    </div>
  <input type="submit" value="بحث" class="btn btn-outline-primary">

</form>

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>اسم الزبون</th>
        <th>رقم الهاتف</th>
        <th>العنوان</th>
        <th>اسم المحل </th>
      </tr>
    </thead>
    <tbody>
      {% for record in query %}
        <tr>
          <td>{{ record.name }}</td>
          <td>{{ record.phone }}</td>
          <td>{{ record.address }}</td>
            <td>{{ record.shop }}  </td>
          <td> <form method="post" action="/delete-client">
              <input type="hidden" name="client" value="{{record.id}}">
              <button type="submit" class="btn btn-primary">حذف</button>
          </form>
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
<a href="/main" class="btn btn-primary">رجوع</a>
    <button class="btn btn-primary" onclick="display()">طباعة</button>
      <script>
         function display() {
            window.print();
         }
      </script>
{% endblock %}