{% extends "base.html" %}
{% block content %}

<div class="flex-container">
<div class="justify-content-center">
    <div class="row align-items-center">
<div class="card-group">
<div class="card" style="width: 14rem;">
  <img src="../static/images/cleints.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">العملاء</h5>
    <a href="/client" class="btn btn-primary">عرض العملاء</a>
    <a href="/add/client" class="btn btn-primary">أضافة عميل</a>
</div>
</div>

          <div class="card" style="width: 14rem;">
  <img src="../static/images/delivery.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">السائقين</h5>
    <a href="/driver" class="btn btn-primary">عرض</a>
    <a href="/add/driver" class="btn btn-primary">أضافة سائق</a>
    <a href="/add/account" class="btn btn-primary">أضافة حساب</a>

          </div>
          </div>
            <div class="card" style="width: 14rem;">
  <img src="../static/images/psd.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">المصاريف</h5>
    <a href="/masrf" class="btn btn-primary">عرض </a>
    <a href="/add/masrf" class="btn btn-primary">أضافة مصروف</a>
</div>
            </div>
            <div class="card" style="width: 14rem;">
  <img src="../static/images/casa.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">الطلبيات</h5>
    <a href="/order" class="btn btn-primary">عرض </a>
    <a href="/add/order" class="btn btn-primary">أضافة طلبية</a>
              </div>
                  </div>
</div>
    </div>
</div>
</div>
</div>
{% endblock %}